.flip {
    height: 220px;
    width: 300px;
}
.flip img {
    width: inherit;
    height: inherit;
}
.flip .back {
    font-family: 'Bellefair', serif;
    position: relative;
    height: inherit;
    background: #90a4ae;
    color: #fff;
    text-align: center;
    font-size: 278%;
}


.card2, .card3, .card4, .card5{
    display:block;
    margin: 5% auto;
}

.imgbox{
    height: auto;
    width: inherit;
}

@media screen and (min-width: 768px){
    .card2,.card4{
        float: left;
        margin-left: 10%;
    }
    .card3,.card5{
        float: right;
        margin-right: 10%;
    }
    .flip .back{
        /*bottom: 20px;*/
    }
}

@media screen and (min-width: 1208px) {
    .card2, .card4, .card3, .card5 {
        width: 250px;
        display: inline-block;
        float: none;
        margin: 1.8%;
    }
    .card2{
        margin-left: 3.9%;
}
    .card5{
        margin-right: 0;
    }
    }

.dt{
    position: absolute;
    font-size: 200%;
    bottom: 0%;
    left: 60%;
    font-family: 'Bellefair', serif;
    color: white;
}